/*  your css code here. If applicable */
#eg1{
	width: 200px;
	height: 200px;
	background-color: lightblue;
	border: 2px solid black;
	background-position: center;
}
#ex1{
	background-position: center;
	color: purple;
}